services:
  - type: web
    name: frontend
    env: node
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npm run preview
    envVars:
      - key: NODE_ENV
        value: production
      - key: VITE_API_URL
        value: https://backend-x49x.onrender.com
    staticPublishPath: ./dist

